@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
	--tp-base-background-color: theme('colors.bg');
	--tp-base-shadow-color: hsla(0, 0, 0, 0);
	--tp-button-background-color: theme('colors.bg-alt');
	--tp-button-background-color-active: theme('colors.gray');
	--tp-button-background-color-focus: theme('colors.bg-alt');
	--tp-button-background-color-hover: theme('colors.bg-alt');
	--tp-button-foreground-color: theme('colors.fg');
	--tp-container-background-color: theme('colors.bg-alt');
	--tp-container-background-color-active: theme('colors.bg-alt');
	--tp-container-background-color-focus: theme('colors.bg-alt');
	--tp-container-background-color-hover: theme('colors.bg-alt');
	--tp-container-foreground-color: theme('colors.purple');
	--tp-groove-foreground-color: theme('colors.unknown');
	--tp-input-background-color: theme('colors.bg-alt');
	--tp-input-background-color-active: theme('colors.gray');
	--tp-input-background-color-focus: theme('colors.bg-alt');
	--tp-input-background-color-hover: theme('colors.bg-alt');
	--tp-input-foreground-color: theme('colors.fg');
	--tp-label-foreground-color: theme('colors.fg');
	--tp-monitor-background-color: theme('colors.bg-alt');
	--tp-monitor-foreground-color: theme('colors.gray');
	--tp-base-border-radius: 0px;
	--tp-blade-border-radius: 0px;
	--tp-base-font-family: theme('fontFamily.sans');
	--font-family: theme('fontFamily.mono');
}

html {
	@apply m-0 h-full w-full bg-bg font-sans text-fg;
}

body {
	@apply m-0 h-full w-full font-sans;
}

input {
	@apply font-mono !important;
}

::-webkit-scrollbar {
	@apply w-1 bg-bg-alt;
}

::-webkit-scrollbar-thumb {
	@apply bg-gray hover:bg-gray;
}

::-webkit-scrollbar-track {
	@apply bg-bg-alt;
}

/* svelte-tweakpane-ui */
.draggable-container {
	@apply border border-gray;
}

textarea::placeholder {
	@apply text-gray;
}
